a.mobile{
	color:#999;
	text-decoration:none;
	font-size:11px;
}
a.mobile div.qrcode{
	width:175px;
	height:225px;
	border:1px solid #999;
	background:url("../img/ewm.png");
	display:none;
	position:fixed;
}
a.mobile:hover{
	color:#c40000;
	text-decoration:underline;
}
a.mobile:hover div.qrcode{
	display:block;
}

*{
	margin:0px;
	padding:0px;
}
div.menu {
	font-size:14px;
	font-family:"Mircosoft Yahei";
	width:190px;

}
div.menu div.title{
	height:35px;
	width:100%;
	line-height:35px;
	text-align:center;
	color:#fff;
	background:#c40000;
}
div.menu ul.items li{
	height:33px;
	background:#4a4a4a;
	color:#fff;
	line-height:33px;
	text-align:center;
	
}
div.menu ul.items li:hover{
	background:#c40000;
	
}