*{
	margin:0;
	padding:0;}
body{
	width:100%;
	height:100%;
	border:0;
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
	color:#666;}
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome銆乫irefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome銆乫irefox銆乷pera銆丼afari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
h2,h3{
  font-family: "microsoft yahei";
  font-weight: normal;
    font-size: 16px;}
.wo,.car,.rt{
	font-family: 'iconfont';
	font-size:15px;
	color:#666;}
li{
	list-style:none;}
a{
	text-decoration:none;}
div.shortcut-2014{
	width:100%;
	height:30px;
	background:#F1F1F1;}
.shortcut-2014 .w{
	width:1210px;
	height:30px;
	margin:auto;}
.shortcut-2014 .w .fl{
	line-height:30px;
	float:left;}
.shortcut-2014 .w .fl .he{
	padding-right:15px;}
.shortcut-2014 .w ul.ri{
	width:850px;
	height:30px;
	float:right;}
.w ul.ri li{
	float:left;}
.w ul.ri li a{
	line-height:30px;
	padding:0 10px;
	}
div.top-banner{
	width:100%;
	height:80px;
	background-color: #c41a20;}
div.top-banner .banner-img{
	width:1210px;
	height:80px;
	margin:auto;
	background-image:url("../images/55716365Nd7ef2447.jpg");}
.cc{
	width:1210px;
	height:100px;
	margin:auto;}

		/*logo*/
.cc .logo-0606{
	margin-top:20px;
	width:270px;
	height:60px;
	float:left;}
.cc .logo{
	display:block;
	width:270px;
	height:60px;
	background-image:url("../images/logo-201305.png");}
.cc .form{
	margin-top:28px;
	margin-left:58px;
	width:587px;
	height:36px;
	border:2px solid #B61D1D;
	float:left;}
.cc .form input{
	width:500px;
	height:34px;
	border:0;
	font-size:16px;
	float:left;
	padding-left:5px;
	border:0;
	outline:none;}
.cc .form button{
	width: 82px;
	height: 36px;
	background: #B61D1D;
	border: none;
	float:left;
	color:#fff;
	font-size:18px;
	cursor:pointer;
	}
.cc .dorpdown{
	margin-top:28px;
	width: 141px;
	height: 36px;
	float: right;
	background:#F9F9F9;
	text-align:center;
	line-height:36px;
	border:1px solid #DFDFDF;}
.cc .dorpdown .car{
	font-size:23px;
	color:red;}
.cc .hotwords-2014{
	margin-top:10px;
	width:518px;
	height:20px;
	float:left;
	margin-left:58px;}
.cc .hotwords-2014 a{
	padding:0 3px;}
		
		/*logo */
div.dorpdown-1{
	width:100%;
	height:44px;
	border-bottom:2px solid #B1191A;}
div.dorpdown{
	width:1210px;
	height:44px;
	margin:auto;
	margin-top:18px;
}
div.dorpdown .treasure{
	display:block;
	float:right;
	width:140px;
	height:44px;}
div.dorpdown .middle{
	float:left;
	width:740px;
	height:44px;
	}
div.dorpdown .middle .navitems-2014 li{
	display:block;
	float:left;
	line-height:44px;}
div.dorpdown .middle .navitems-2014 li a{
	line-height:44px;
	display:block;
	color:#333;
	font: 400 15px/44px "microsoft yahei";
	padding:0 20px;
	}
div.dorpdown .dt{
	width:205px;
	background-color:#B1191A;
	line-height:44px;
	color:#fff;
	padding-left:5px;
	border-bottom:0;
	font: 400 15px/44px "microsoft yahei";
	float:left;}
.dorpdown7{
	width:210px;
	float:left;}
.dorpdown7 li{
	line-height:33px;
	color:#F5D5D8;
	background-color:#C81623;
	}
.dorpdown7 li a{
	color:#Fff;
	padding:0 5px;}
.dorpdown7 li .rt{
	color:#F5D5D8;
	float:right;
	padding-right:8px;}
.slider{
	width:100%;
	height:466px;
	position:relative;

	}
.slider88{
	width:1210px;
	margin:auto;
	z-index:1px;}
.slider .slider-l{
	width:70px;
	display: block;
	height: 466px;
	position:absolute;
	left:0;
	top:0;
	background:url("../images/5562d148Nb2a64c41.jpg")-105px top no-repeat;
	z-index:-1;
	cursor:pointer;}
.slider .slider-r{
	width:70px;
	display: block;
	height: 466px;
	position:absolute;
	right:0;
	top:0;
	background:url("../images/5562d26dNcaa2e9f2.jpg")0 top no-repeat;
	z-index:-1;
	cursor:pointer;}
.slider .banner-1{
	width:990px;
	height:454px;
	float:left;
	background-color:#Fff;
	float:right;
	margin-top:8px;}
.slider .banner-1 .ban{
	width:990px;
	height:454px;
	position:relative;
	}
.slider .banner-1 .banner-con{
	width:730px;
	height:454px;
	position:relative;}
.slider .banner-1 .banner-con .rudius{
	width:250px.
	height:20px;
	position:absolute;
	bottom:10px;
	left:280px;}
.slider .banner-1 .banner-con .rudius ul li{
	display:inline-block;
	background-color:#333;
	padding:0 5px;
	color:#fff;
	border-radius:20px;
	margin:0 5px;}
.slider .banner-1 .banner-con .imgs{
	position:absolute;
	top:0;
	left:0;}
.slider .banner-1 .ban-ri{
	width:250px;
	position:absolute;
	border:1px solid #E4E4E4;
	top:0;
	right:0;}
.banner-1 .ban-ri .m{
	width:250px;
	height: 190px;
	border:1px dotted #E4E4E4;
	}
.banner-1 .ban-ri .m a:hover{
	color:#C81623;}
.banner-1 .ban-ri .m-1{
	border-bottom: 1px solid #E8E8E7;
	height: 43px;
	line-height:43px;}
.banner-1 .ban-ri .m-1 h3{
	float:left;
	padding-left:10px;}
.banner-1 .ban-ri .m-1 a{
	float:right;
	padding-right:10px;}
.banner-1 .ban-ri .m-2 a{
	display:block;
	width:210px;
	overflow:hidden;
	line-height:27px;
	padding-left:10px;}
.banner-1 .ban-ri .mt h3{
	line-height:43px;
	padding-left:10px;
	border-bottom: 1px solid #E8E8E7;}
.banner-1 .ban-ri .mt .mt-a{
	height:30px;}
.banner-1 .ban-ri .mt .mt-a a{
	display:block;
	text-align:center;
	padding:0 17px;
	float:left;
	border-top:2px solid #fff;
	border-right:1px solid #E8E8E7;
	line-height:27px;}
.banner-1 .ban-ri .mt .mt-a a:hover{
	border-top:2px solid #C81623;
	}
.banner-1 .ban-ri .mt .tab-iframe p.iframe-p{
	display:block;
	height:39px;}
.banner-1 .ban-ri .mt .tab-iframe p span{
	display:block;
	width:85px;
	height:19px;
	margin:0 5px;
	color:#fff;
	line-height:17px;
	text-align:center;
	margin-top:20px;
	float:left;
	padding:0 3px;
	background:url("../images/iframe-san.png");}
.banner-1 .ban-ri .mt .tab-iframe input{
	outline:none;
	margin-top:18px;
	width:130px;
	height:20px;
	margin-left:5px;}
.banner-1 .ban-ri .mt .tab-iframe select{
	margin-top:15px;
	width:130px;
	height:20px;
	outline:none;}
.banner-1 .ban-ri .mt .tab-iframe .button{
	display:block;
	border:0;
	width: 67px;
	height: 26px;
	background: #c81623;
	border-radius: 2px;
	margin-left:38px;}
.banner-1 .ban-ri .mt .tab-iframe .iframe-bottom{
	display:block;
	width:250px;
	height: 26px;
	line-height:26px;}
.banner-1 .ban-ri .mt .tab-iframe .iframe-bottom a{
	margin-left:10px;
	}
.banner-1 .ban-ri .mt .tab-iframe .iframe-bottom .hot{
	display: inline-block;
	width: 22px;
	height: 10px;
	margin-left:30px;
	background:url("../images/iframe-hot.png")no-repeat;}


					
				/*骞�  鍛�  缁�  鏉�*/
				/*浠婃棩 鎺� 鑽� 寮€ 濮�*/

.mc-slider{
	width:1210px;
	height:164px;
	margin:auto;
	margin-top:28px;}
.mc-slider .mc-img1{
	display:block;
	width:210px;
	height:164px;
	float:left;}
.mc-slider .mc-hidden{
	width:1000px;
	height:164px;
	float:left;
	overflow:hidden;}
.mc-slider .mc-hidden .long-box{
	width:3012px;
	height:164px;}
.mc-slider ul.slider-ul{
	float:left;
	width:1004px;}
.mc-slider ul.slider-ul li{
	float:left;
	border-right:1px solid #fff;}
				/*浠婃棩 鎺� 鑽� 缁� 鏉�*/
				/*<!--/*鐚滀綘  鍠滄寮€ 濮�*/
div.mt88{
	width:1210px;
	height:36px;
	margin:auto;
	margin-top:28px;}
div.mt88 h3.love{
	display:block;
	float:left;
	padding-right: 228px;
	background:url("../images/homebg.png") 85px -99px; }
div.mt88 a.right{
	display:block;
	float:right; 
	height: 18px;
	padding-right: 25px;
	margin-top: 8px;
	background: url("../images/homebg.png") -310px -5px no-repeat;}
.spacer{
	width:1208px;
	height:230px;
	border: 1px solid #ededed;
	margin:auto;}
.spacer .mc-love{
	width:1206px;
	margin-top:23px;}
.spacer .mc-love li{
	float:left;}
.spacer .mc-love li .p-img{
	display:block;
	width:164px;
	margin:auto;}
.spacer .mc-love li .wire{
	width:200px;
	border-right:1px solid #E6E6E6;}
.spacer .mc-love li a.p-name{
	display:block;
	width:164px;
	margin:0 auto;
	margin-top:8px;}
.spacer .mc-love li p{
	color: #b51d1a;
	font-size: 18px;display:block;
	width:164px;
	margin:0 auto;
	margin-top:8px;}
				/*<!--/*鐚滀綘  鍠滄 缁� 鏉�*/



				/*<!--浜笢 鐗硅壊璐� 寮€  濮� -->*/

h3.nav-618{
	font-size: 20px;
	padding-left: 96px;
	background:url("../images/bgforspecialbuy.png") no-repeat 0 -181px;}
.hs-content{
	border: solid 1px #ededed;
	height: 402px;
	width: 1210px;
	overflow: hidden;
	margin:auto;}
.hs-content .one{
	height: 402px;
	width: 200px;
	background:blue;
	float:left;}
.one-1{
	display:block;
	height: 200px;
	width: 200px;
	border:1px solid #ededed;
	text-align:center;}
.hs-content .one .one-p2{
	margin-top:10px;}
.one-p1{
	display:block;
	margin-top:18px}
.one-p1-1{
	display:inline-block;
	width: 28px;
	height: 16px;
	background:url("../images/nav/bg.png") 0 10px no-repeat; }
.one-p1-3{
	display:inline-block;
	width: 28px;
	height: 16px;
	background:url("../images/nav/bg.png")-28px 10px no-repeat; }


.hs-content .two{
	height: 402px;
	width: 404px;
	float:left;}
.hs-content .two .two-1{
	width:403px;
	height:200px;
	background:url("../images/nav/55717c2eNa664edb1.png")no-repeat;
	border:1px solid #ededed;
	border-right:0;
	position:relative;
	}
.hs-content .two .two-1 .min-two-1{
	margin-top:30px;
	margin-left:20px;}
.two-1 .min-two-1 .text-1{
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	color: #333;
	padding-bottom: 10px;
	overflow: hidden;
	height: 20px;}
.two-1 .min-two-1 .text-2{
	font-size: 16px;
	line-height: 16px;
	color: #333;
	padding-bottom: 10px;
	height: 16px;
	overflow: hidden;}
.two-1 .min-two-1 .text-3{
	display: inline-block;
	text-align:center;
	background: #e7004d;
	color: #fff;
	width: 137px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	font-size: 16px;}
.hs-content .two .two-2{
	width:404px;
	height:202px;}
.hs-content .two .two-2 .min-two-2{
	float:left;
	width:200px;}
.hs-content .two .two-2 .min-two-3{
	float:left;
	width:204px;
	height:202px;}
.hs-content .two .two-2 .min-two-3 a{
	float:left;
	display:block;
	width:100px;
	height:39px;
	border:1px dashed #ededed;
	border-top:0;}



.hs-content .three{
	height: 402px;
	width: 606px;
	float:left;}
.hs-content .three .min-two-2{
	float:left;}
.three .a666 a{
	display: block;
	float:left;
	width:101px;
	height:50px;
	text-align:center;
	background-color:#F5F5F5;}
.three .a666 .bigico1{
	background-color:#fff;}
.three .a666 a i{
	display: block;
	width: 20px;
	height: 20px;
	margin: 5px auto 2px; 
	background: url("../images/bgforspecialbuy.png") no-repeat;}
.three .a666 a .ico2{	 
	background-position: 0 -20px;}
.three .a666 a .ico3{	 
	background-position: 0 -40px;}
.three .a666 a .ico4{	 
	background-position: 0 -60px;}
.three .a666 a .ico5{	 
	background-position: 0 -80px;}
.three .a666 a .ico6{	 
	background-position: 0 -100px;}
.three .a666 a .ico7{	 
	background-position: 0 -120px;}
.three .a666 a .ico8{	 
	background-position: 0 -140px;}
				/*<!--浜笢 鐗硅壊璐� 缁� 鏉�-->*/




				/*<!--1F 鏈� 瑁� 闉� 鍖� 寮€ 濮�-->*/


.three-img{
	width:1200px;
	height:140px;
	margin:auto;
	margin-top:20px;}
.mt888{
	width:1210px;
	height:37px;
	border-bottom:1px solid #C81623;
	margin:auto;
	margin-top:38px;}
.mt888 h2 .nav-618{
	padding:5px 20px 5px 2px;
	color:#fff;
	font-size:14px;
	line-height:32px;
	background:url("../images/nav/sprite_floor.png")0 0 no-repeat;}
.mt888 h2{
	float: left;
	display: inline;
	line-height: 30px;
	font-size: 20px;
}
.mt888 .f1-ight{
	height:36px;
	float:right;
	border:1px solid #EDEDED;
	border-bottom:0;}
.mt888 .f1-ight li{
	float: left;
	display: inline;
	border-top:3px solid #fff;
	line-height: 34px;}
.mt888 .f1-ight li a{
	padding:0 20px;
	border-right:1px solid #EDEDED;}
.mt888 .f1-ight li:hover{
	border-top:3px solid #C81623;
	border-bottom:1px solid #FFF;}

.mc1{
	width:1210px;
	height:633px;
	margin:auto;
	border:1px solid #EDEDED;
	}
.mc1 .mc1-le{
	width:330px;
	height:633px;
	float:left;}
.mc1 .mc1-le .mc1-le-top div{
	display:block;
	width:330px;
	height:475px;
	cursor:pointer;
	position:relative;
	background:url("../images/nav/5573055eN2a8c70b9.jpg")no-repeat;}
.mc1 .mc1-le .mc1-le-top .le-top-img .themes{
	width:330px;
	height:92px;
	position:absolute;
	left:0;
	bottom:129px;
	background-color:rgba(255,255,255,.5);}
.mc1-le-top .le-top-img .themes li{
	display:block;
	float:left;
	width:110px;
	text-align:center;
	height:45px;
	line-height:45px;}
.mc1-le-top .le-top-img .themes li i{
	display:inline-block;
	vertical-align:middle;
	width:26px;
	height:26px;
	background: url("../images/nav/clothesicon.png") 0 0 no-repeat;}
.mc1-le-top .le-top-img .themes li .i-ico2{
	background-position:0 -26px;}
.mc1-le-top .le-top-img .themes li .i-ico3{
	background-position:0 -52px;}
.mc1-le-top .le-top-img .themes li .i-ico4{
	background-position:0 -78px;}
.mc1-le-top .le-top-img .themes li .i-ico5{
	background-position:0 -104px;}
.mc1-le-top .le-top-img .themes li .i-ico6{
	background-position:0 -130px;}
.mc1-le-top div .words .fore1{
	float:left;
	display:block;
	width:165px;}
.mc1-le-top .le-top-img ul{
	position:absolute;
	left:0;
	bottom:0;
	width:330px;
	height:129px;
	background-color:#F3F0F8;}
.mc1-le-top .le-top-img .words li{
	float:left;
	display:block;
	width:165px;
	line-height:28px;
	text-align:center;}
.mc1-le-top .le-top-img .words li a:hover{
	color:#c81623;}

.mc1 .mc1-ri{
	width:880px;
	height:633px;
	float:left;}
.mc1 .mc1-ri .box440{
	width:440px;
	height:633px;
	float:left;}
.mc1 .mc1-ri .box440 a{
	display:block;
	float:left;
	border:1px solid #EDEDED;
}
.mc1 .mc1-ri .main-body{
	width:440px;
	height:633px;
	float:left;}
.mc1 .mc1-ri .main-body a{
	float:left;
	display:block;
	width:219px;
	height:157px;
	border:1px solid #EDEDED;
	border-right:0;}

				/*<!--1F 鏈� 瑁� 闉� 鍖� 缁� 鏉� -->*/

div.banner-logo{
	width:1210px;
	height:60px;
	margin:auto;
	margin-top:28px;
	background-color:#F7F7F7;}
div.banner-logo .f1-logo img{
	display:block:
	float:left;
	height:40px;
	margin-top:10px;
	padding:0 8px;
	border-right:1px dashed #333;
	}
				/* 涓�   妤�  寮€  濮�*/
.mc1 .mc1-le .mc1-le-top div.le-top-img3{
	display:block;
	width:329px;
	height:480px;
	cursor:pointer;
	position:relative;
	background:url("../images/logo2/5571805dN6d468c66.jpg")no-repeat;}
.mc1 .mc1-le .mc1-le-top .le-top-img3 .themes-3{
	width:330px;
	height:45px;
	position:absolute;
	left:0;
	bottom:191px;
	background-color:rgba(255,255,255,.5);}
.mc1-le-top .le-top-img3 .themes-3 li{
	display:block;
	float:left;
	width:110px;
	text-align:center;
	height:45px;
	line-height:45px;}
.mc1-le-top .le-top-img3 ul.words-3{
	position:absolute;
	left:0;
	bottom:122px;
	width:330px;
	height:69px;
	background: rgba(255,255,255,.7);}
.mc1-le-top .le-top-img3 ul.words-3 li.fore1-3 p{
	display:block;
	width:160px;
	float:left;
	line-height:34px;
	text-align:center;
	font-size: 14px;}
.mc1-le-top .le-top-img3 .words{
	position:absolute;
	left:0;
	bottom:0;
	width:330px;
	height:122px;
	background: rgba(255,255,255,.7);
	line-height:25px;
	text-align:center;
	color: #666;}
.mc1 .main-selected-3{
	float:left;
	width:880px;
	height:475px;}
.mc1 .main-selected-3 .main-inner{
	float:left;
	width:439px;
	height:236px;}
.mc1 .main-selected-3 .inner-right{
	float:left;	
	height:236px;
	width:440px;}
.mc1 .main-selected-3 .inner-right a{
	display:block;
	float:left;
	width:219px;
	height:117px;
	border-bottom:1px solid #EDEDED;
	border-left:1px solid #EDEDED;
	}
.mc1 .main-selected .selected-bottom{
	height:236px;
	width:880px;}
.mc1 .main-selected-3 .selected-bottom a{
	display:block;
	float:left;
	height:236px;
	width:219px;
	border-left:1px solid #EDEDED;
	}




				/*<!--搴�  閮�  寮€  濮�   寮€ 濮�-->*/

div.lazy-fn-done{
	width:1210px;
	height:339px;
	margin:auto;}
div.lazy-fn-done .m{
	height:339px;
	float:left;}
div.lazy-fn-done .m h3{
	float: left;
	display:block;
	color:#EEF1F7;
	height:34px;
	line-height: 30px;
	font-size: 20px;
	padding-right: 232px;
	background: url("../images/title.png") no-repeat right 10px;
	}
div.lazy-fn-done .m .m7-le{
	width:910px;
	height:284px;
	float:left;
	border:1px solid #EDEDED;	
	border-right:0;}
div.lazy-fn-done ul .box2 .aa-le1{
	width:245px;}
div.lazy-fn-done ul .box2 .aa-le1 a.img0{
	display:block;
	width:200px;
	height:180px;
	margin-left:18px;
	background:url("../images/bottom/55684f13N00eac0c8.jpg") 20px 0 no-repeat;
	transition:all .5s ;}
div.lazy-fn-done ul .box2 .aa-le1:hover a.img0{
	background-position:0 0;}
div.lazy-fn-done ul .box2 .aa-ri1{
	width:200px;
	margin:auto;}
div.lazy-fn-done ul .box2 .aa-ri1 a{
	width:200px;
	padding-top:13px;
	overflow:hidden;
	height:100px}
div.lazy-fn-done ul .box2 .aa-ri1 p{
	display: block;
	margin-top:10px;
	color: #e12228;
	font-size: 16px;
	font-weight: 700;}
div.lazy-fn-done ul .box2{
	display:block;
	width:199px;
	height:141px;}
div.lazy-fn-done ul .box2{
	display:block;
	width:220px;
	height:141px;
	float:left;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;}
div.lazy-fn-done ul .box2 .aa-le{
	width:120px;
	height:100px;
	float:left;
	padding-top:13px;}
div.lazy-fn-done ul li:hover .aa-le .img1{
	background-position:0 0;}
div.lazy-fn-done ul .box2 .aa-le a{
	display:block;
	width:100px;
	height:100px;
	transition:all .5s ;}
div.lazy-fn-done ul .box2 .aa-le .img1{
	background:url("../images/bottom/55684f7fN41d28acc.jpg") 13px 0 no-repeat;
	}
div.lazy-fn-done ul .box2 .aa-le .img2{
	background:url("../images/bottom/55684fe6N5b48d63d.jpg") 13px 0 no-repeat;
	}
div.lazy-fn-done ul li:hover .aa-le .img2{
	background-position:0 0;}
div.lazy-fn-done ul .box2 .aa-le .img3{
	background:url("../images/bottom/5568534aN6685a568.jpg") 13px 0 no-repeat;
	}
div.lazy-fn-done ul li:hover .aa-le .img3{
	background-position:0 0;}
div.lazy-fn-done ul .box2 .aa-le .img4{
	background:url("../images/bottom/55685392Nc054c4cd.jpg") 13px 0 no-repeat;
	}
div.lazy-fn-done ul li:hover .aa-le .img4{
	background-position:0 0;}
div.lazy-fn-done ul .box2 .aa-le .img5{
	background:url("../images/bottom/557179f4N71ef4f06.png") 5px 0 no-repeat;
	}
div.lazy-fn-done ul li:hover .aa-le .img5{
	background-position:0 0;}
div.lazy-fn-done ul .box2 .aa-le .img6{
	background:url("../images/bottom/5568543fNf66f6cff.jpg") 13px 0 no-repeat;
	}
div.lazy-fn-done ul li:hover .aa-le .img6{
	background-position:0 0;}
div.lazy-fn-done ul .box2 .aa-ri{
	width:99px;
	display:block;
	padding-top:13px;
	overflow:hidden;
	height:100px;
	float:left;}
div.lazy-fn-done ul .box2 .aa-ri p{
	display: block;
	margin-top:10px;
	color: #e12228;
	font-size: 16px;
	font-weight: 700;}
				/*<!--搴�  閮�  寮€  濮�   缁� 鏉�-->*/